{% extends "auctions/layout.html" %}
{% block title %}
    Terms and Conditions
{% endblock %}
{% block style %}
    .tos-heading {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .tos-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
    }
{% endblock %}
{% block body %}
    <div class="tos-container">
            <center>
            <h2 class="tos-heading">Terms and Conditions Agreement</h2>

            <p>Stated in this page are the terms and conditions for the use of Avian Auctions. Failure to uphold and observe
            the regulations made by the owners will result in penalties, and on severe cases, persecution.</p>
            <h4>By using our services, you agree to:</h4>
            </center>
            <ul>
                <li>Refrain from posting and selling listings that involve pornographic material</li>
                <li>Refrain from posting and selling listings that promote violence</li>
                <li>Refrain from posting and selling listings of illegal material such as drugs and other illegal substances</li>
                <li>Refrain from harrassing other users on the comments section</li>
                <li>Pay the commission fee of 1.8% of your profit as commission to the developers</li>
            </ul>
    </div>
{% endblock %}