{% extends "auctions/layout.html" %}
{% block title %}
    Create a Listing
{% endblock %}
{% block style %}
    .required_fields {
        color: red;
    }
{% endblock %}
{% block body %}
    <h2>Create Listing</h2>
    <h3>{{ error_message }}</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Item Name: </label><input type="text" name="item_name" placeholder="Enter the item name...">
                {% if invalid_submission is True %}
                    <label class="required_fields">*Required</label>
                {% endif %}
        </div>
        <div class="form-group">
            <label>Item Description: </label><input type="text" name="description" placeholder="Enter the description...">
            {% if invalid_submission is True %}
                    <label class="required_fields">*Required</label>
            {% endif %}
        </div>
        <div class="form-group">
            <label>
                Image(URL only, Optional): </label><input type="text" name="img_url" placeholder="Enter URL...">
        </div>
        <div class="form-group">
            <label>Starting Price: </label>
            <input type="text" name="starting_price" placeholder="Enter amount here...">
            {% if invalid_submission is True %}
                    <label class="required_fields">*Required</label>
            {% endif %}
        </div>
        <div class="form-group">
            <label>Category: </label>
            <select name="category_choice">{% for category in categories %}<option>{{ category.category_name }}</option>{% endfor %}</select>
        </div>
        <div class="form-group">
            <input type="submit" value="Finish">
        </div>

    </form>
{% endblock %}