{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.item_name }}
{% endblock %}

{% block style %}
    textarea {
        width: 80%;
        height: 100px;
        margin-right: 100%;
    }
    .bidding_section {
        margin-bottom: 80px;
    }

    .submit_button {
        border-radius: 5px;
    }

    .watchlist_button {
        width: 250px;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding-bottom: 10px;
    }
{% endblock %}

{% block body %}
	<h2>Listing: {{ listing.item_name }}</h2>
    <form method="post">
        {% csrf_token %}
        <input type="submit" name="watchlist_interaction" class="watchlist_button" value="{% if request.user in listing.watchlist.all %}
        Remove from Watchlist{% else %}Add to Watchlist{% endif %}">
    </form>
    {% if listing.image_link != "" %}
        <img src="{{ listing.image_link }}">
        {% else %}
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/archive/a/ac/20070325222640%21No_image_available.svg/120px-No_image_available.svg.png" width="250px" height="270px">
    {% endif %}


	<p>{{ listing.description }}</p>
	<h3>${{ bid_value }}</h3>

	<!-- BIDDING FEATURE -->
	<div class="bidding_section">
        {% if listing.availability == False %}
            <p>This auction has been closed.</p>
            {% if request.user == bidder %}
            <p>You have won this auction!</p>
            {% endif %}
        {% else %}
            <p>{{ bid_count }} bid(s) so far. {% if request.user == bidder %} Your bid is the current bid.
            {% elif bid_count == 1 %} This is the starting bid.{% endif %}</p>
        {% endif %}
        <h4>{{ message }}</h4>
        <form method="post">
            {% csrf_token %}
            <input type="number" name="bid_placement" placeholder="Enter amount here...">
            <input type="submit" name="" value="Place Bid" class="submit_button">
        </form>
        {% if request.user == listing.item_lister %}
            {% if listing.availability == True %}
                <h3>You listed this item. Do you want to close the auction now?</h3>
                <form method="post">
                {% csrf_token %}
                <input type="submit" name="close_auction" value="Close Auction">
                </form>
            {% else %}
                <h3>You have closed this auction.</h3>
            {% endif %}
        {% endif %}

        <h2>Details</h2>
        <p>Item Lister: {{ listing.item_lister }}</p>
        <p>Category: {{ listing.item_category.category_name }}</p>
    </div>

	<!-- COMMENT SECTION -->
	<div class="comments_section">
        <form method="post">
            {% csrf_token %}
            <h3>Commenting as {{ request.user }}:</h3>
            <textarea name="comment" placeholder="Enter your comment here..."></textarea>
            <input type="submit" class="submit_button" value="Comment">
        </form>

        <h3>Comments</h3>
		<ul>
		{% for comment in comments %}
			<h6>{{ comment.commenter }} commented:</h6>
			<li>{{ comment.text }}</li>
		{% empty %}
			<p>There are no comments yet.</p>
		{% endfor %}
		</ul>
	</div>
{% endblock %}